body {
  background-color: var(--main-bg-color);
}

/* Links */
.link {
  @apply flex cursor-pointer items-center font-semibold;
  color: var(--accent-color);
}

.link:hover {
  color: var(--accent-color-hover);
}

/* Active items */
.active {
  @apply border-l-4;
  border-color: var(--accent-color);
}

/* Icons */

.icon {
  @apply mr-2 w-8;
}
.icon:hover {
  @apply bg-opacity-90;
}
